.block {
    background-color: gray;
    /* border: 1px solid black; */
}

.board{
    width: 53%;
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% ;
}

.img{
    width: 100%;
    height: 80px;
}

.blocks{
    border: 1px solid black;
    height: 98px;
    width: 98px;
}